* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin:0;
}

/* General styles */
body {
    background-color: #bae6fd; 
    color: #1e293b;       
    font-family:cascadia code, monospace;
}
img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 2000px;
}

header {
    display:flex;
    justify-content: space-between;
}
header h1 {
    padding-left: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* some space inside */
    background-color: #0ea5e9;
    margin-bottom: 10px;
    
}


footer {
    text-align: center;
    padding: 20px;
    background-color:darkblue;
    color: white;
    margin-top: 15px
   
}



/*navigation bar*/

@media (max-width: 706px) { 
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: 5px 0;
    }
    header h1 {
        text-align: center;
        padding-left: 5px;
    }
}

@media (min-width: 700px) { 
    .wrapper-flex {
        display: flex;
        justify-content: space-around;
    }
    main {
        width: 75%;
    }
    aside {
        width: 20%;
    }
}


nav ul {
    display: flex;         
    list-style: none;       
    margin: 0;
    padding-right: 20px;
    font-weight: bold;
    padding-left: 20px;
}

nav li {
    margin-right: 20px;     /* spacing between items */
}

nav a {
    text-decoration: none;
    color: #075985;
}

nav a:hover {
    color: darkblue;
}

.current-page {
    border-bottom: 2px solid #075985;
    padding-bottom: 1px;
}

.current-page:hover{
    color: #075985;
}

/* Articles*/

.article-info {
    margin: 1.5em 0;
}
.article-featured {
    border-bottom: #707070 2px solid;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.article-recent {
    display: flex;
    flex-direction: column;
}

.article-recent-main {
    order: 1;
   
}

.article-recent-secondary {
    order: 2;
    margin-top: 20px;
}

.article-read-more {
    font-size: 1.1rem;
}

.article-title {
    font-size: 1.5rem;
}

.article-recent:hover .article-title {
    color:#075985;
}



.article-read-more,
.article-info  {
    font-size: 0.875rem;
}

.article-read-more {
    color:#1792d2;
    text-decoration: none;
    font-weight: 900;
}


.article-read-more:hover,
.article-read-more:focus{
    color: #143774; 
    text-decoration: underline;
    transition-duration: .9;
}
.article-recent {
    -webkit-user-select: none;
    user-select: none;
}

.article-featured,
.article-recent {
    margin-bottom: 20px;
}

.article-recent {
    background-color: rgb(153, 216, 237);
    border-radius: 10px;
    padding-left: 10px;
    transition: all 300ms;
    transform: scale(1);
    margin-bottom: 8%;

}

.article-recent:hover, 
.article-recent:focus {
    transition: all 300ms;
    transform: scale(1.055);
    background-color: rgb(123, 208, 236);
    
}

.article-image{
    transition: .3s;
    border-radius:10px;
}

.article-recent:hover .article-image,
 .article-recent:focus .article-image{
    transform:scale(1.055);
}

.article-title {
    transition: color 500ms;
    transform: scale(1);
}


@media (min-width: 600px) {
    .article-recent {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .article-recent-main {
        width: 70%;
    }
    .article-recent-secondary {
        width: 25%;
    }

}

/* Sidebar */

.sidebar-widget {
  display: flex;
  flex-direction: column; 
  background-color: aliceblue;  
}

.widget-recent-posts {
    border-bottom: grey 2px solid;
    margin-top: -15px;
}

.widget-recent-posts:last-child {
    border:0;
    margin: 0;
}


.widget-image {
    margin-bottom: 20px;
}

.sidebar-widget {
    border: 10px solid #0ea5e9;
    padding: 7px;
}

.widget-title {
    margin-top: 0px;
}

.sidebar-widget1 {
    margin-bottom: 20%;
}
