html, body {
    padding: 0;
    margin:0;
}

body {
    background-color: #bae6fd; 
    color: #1e293b;       
    font-family: Cascadia code, monospace;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 2000px;
}

.btn {
    display: inline-block;
    background-color: black;
    padding: 15px 5px;
    color: white;
    text-decoration: none;
    border: 5px ridge;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-mine:hover {
    color: green;
    background-color: rgb(203, 193, 193);
    font-weight: bold;
    border-color:green;

}

.btn-rubik:hover {
    color: red;
    background-color:lightskyblue;
    font-weight: bold;
    border-color:red;

}


img {
    border: 10px double red;
    width: 50%;
}

header h1 {
    padding-left: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* some space inside */
    background-color: #0ea5e9;
    
}
.contianer2 {
    border: 5px red ridge;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}



.columns {
    background-color: #e0f2fe; /* light blue */
    padding: 6px;
    border: 5px ridge #38bdf8;
}
.columns:hover  {
    background-color: #0369a1; /* DARK blue */
    color: white;
    border: dashed lightgray 5px;
    transition-duration: 0.7s;
    
    
}

.columns:hover h3  {
    color: white;
    
    
    
}
.columns h3 {
    color: green;
    text-decoration: none;
    font-size: 150%
}

.columns-1 {
    width: 23%;
}
.columns-2 {
    width: 23%;
}
.columns-3 {
    width:23%;
}

@media (max-width: 500px) {
    .container {
        flex-direction:column;
    }
    .columns-1,
    .columns-2,
    .columns-3 {
         width: 85.5%;
         height:auto;
        
    }

    .columns {
        margin-bottom: 5%;
    }
}

@media (max-width: 706px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        margin: 5px 0;
    }
    header h1 {
        text-align: center;
        padding-left: 5px;
    }
}

nav ul {
    display: flex;         
    list-style: none;       
    margin: 0;
    padding-right: 20px;
    font-weight: bold;
    padding-left: 20px;
}

nav li {
    margin-right: 20px;     /* spacing between items */
}

nav a {
    text-decoration: none;
    color: #075985;
}

nav a:hover {
    color: darkblue;
}

.current-page {
    border-bottom: 2px solid #075985;
    padding-bottom: 4px;
}

.current-page:hover {
    color: #075985;
}
/*nav ul {
    margin-left: 5px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin:0px;
    padding: 0px;
    flex-wrap: nowrap;
}

nav li {
    margin: 0 5%;
}

nav a {
    color:rgb(225, 6, 6);
    text-decoration: none;
}

nav a:hover{
    color:darkgoldenrod;
}*/
